<a href="https://colab.research.google.com/github/aanchal0431/chatbot/blob/main/ContinousBagOfWords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chatbot

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense, Dropout


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.model_selection import train_test_split

In [ ]:
print(tf.__version__)

2.7.0

Git Commands to clone repository, pull and push data

In [ ]:
#!git clone https://github.com/aanchal0431/chatbot.git
#!git pull
#%cd chatbot/
#!git config --global user.name "BhavanaGITHUB"
#!git config --global user.email "kbhavana710@gmail.com"
#!git remote
#!git --help
#!git remote -v
#!git init
#%ls
!git add *
!git status 
#!git commit -m 'New Commit'

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

### Data Preprocessing

*   Load datasets
*   Append question and answer datasets
*   Remove duplicate questions
*   Convert data to lower case
*   Split into train and test
*   Drop irrelvant columns

In [ ]:
cur_path = 'Data/Question_Answer_Dataset_v1.2/'
data_s8 = pd.read_csv(cur_path + 'S08/question_answer_pairs.txt', delimiter="\t")
data_s9 = pd.read_csv(cur_path + 'S09/question_answer_pairs.txt', delimiter="\t")
data_s10 = pd.read_csv(cur_path + 'S10/question_answer_pairs.txt', delimiter="\t")
print("Shape s8:", data_s8.shape)
print("Shape s9:", data_s9.shape)
print("Shape s10:", data_s10.shape)
data_s8.head()

Shape s8: (1715, 6)
Shape s9: (825, 6)
Shape s10: (1458, 6)

      ArticleTitle  ...   ArticleFile
0  Abraham_Lincoln  ...  data/set3/a4
1  Abraham_Lincoln  ...  data/set3/a4
2  Abraham_Lincoln  ...  data/set3/a4
3  Abraham_Lincoln  ...  data/set3/a4
4  Abraham_Lincoln  ...  data/set3/a4

[5 rows x 6 columns]

In [ ]:
#append all questions into one data set
data_all = data_s8.append(data_s9.append(data_s10))
#data_all = data_s8.append(data_s9)
print("Shape:", data_all.shape)
data_all.head()

Shape: (3998, 6)

      ArticleTitle  ...   ArticleFile
0  Abraham_Lincoln  ...  data/set3/a4
1  Abraham_Lincoln  ...  data/set3/a4
2  Abraham_Lincoln  ...  data/set3/a4
3  Abraham_Lincoln  ...  data/set3/a4
4  Abraham_Lincoln  ...  data/set3/a4

[5 rows x 6 columns]

In [ ]:
#remove duplicate questions
data_all = data_all.drop_duplicates(subset=['Question'])
print("Shape:", data_all.shape)
data_all.head()

Shape: (2457, 6)

      ArticleTitle  ...   ArticleFile
0  Abraham_Lincoln  ...  data/set3/a4
2  Abraham_Lincoln  ...  data/set3/a4
4  Abraham_Lincoln  ...  data/set3/a4
6  Abraham_Lincoln  ...  data/set3/a4
8  Abraham_Lincoln  ...  data/set3/a4

[5 rows x 6 columns]

In [ ]:
# convert text to lower case
data_all = data_all.apply(lambda x: x.astype(str).str.lower())
data_all.head()

      ArticleTitle  ...   ArticleFile
0  abraham_lincoln  ...  data/set3/a4
2  abraham_lincoln  ...  data/set3/a4
4  abraham_lincoln  ...  data/set3/a4
6  abraham_lincoln  ...  data/set3/a4
8  abraham_lincoln  ...  data/set3/a4

[5 rows x 6 columns]

In [ ]:
from keras.preprocessing import text
from keras.utils import np_utils
from keras.preprocessing import sequence
# import APIs
from tensorflow.keras.preprocessing.sequence import pad_sequences

# segregating questions and answers into different lists
questions = list(data_all['Question'])
answers = list(data_all['Answer'])

tokenizer = text.Tokenizer()
tokenizer.fit_on_texts(questions)
word2id = tokenizer.word_index

# build vocabulary of unique words
word2id['PAD'] = 0
id2word = {v:k for k, v in word2id.items()}
wids = [[word2id[w] for w in text.text_to_word_sequence(doc)] for doc in questions]

vocab_size = len(word2id)
embed_size = 100
window_size = 2 # context window size

print('Vocabulary Size:', vocab_size)
print('Vocabulary Sample:', list(word2id.items())[:10])

Vocabulary Size: 4603
Vocabulary Sample: [('the', 1), ('of', 2), ('is', 3), ('what', 4), ('in', 5), ('a', 6), ('was', 7), ('did', 8), ('to', 9), ('are', 10)]

In [ ]:
def generate_context_word_pairs(corpus, window_size, vocab_size):
    context_length = window_size*2
    for words in corpus:
        sentence_length = len(words)
        for index, word in enumerate(words):
            context_words = []
            label_word   = []            
            start = index - window_size
            end = index + window_size + 1
            
            context_words.append([words[i] 
                                 for i in range(start, end) 
                                 if 0 <= i < sentence_length 
                                 and i != index])
            label_word.append(word)

            x = sequence.pad_sequences(context_words, maxlen=context_length)
            y = np_utils.to_categorical(label_word, vocab_size)
            yield (x, y)
            
            
# Test this out for some samples
i = 0
for x, y in generate_context_word_pairs(corpus=wids, window_size=window_size, vocab_size=vocab_size):
    if 0 not in x[0]:
        print('Context (X):', [id2word[w] for w in x[0]], '-> Target (Y):', id2word[np.argwhere(y[0])[0][0]])
    
        if i == 10:
            break
        i += 1

Context (X): ['was', 'abraham', 'the', 'sixteenth'] -> Target (Y): lincoln
Context (X): ['abraham', 'lincoln', 'sixteenth', 'president'] -> Target (Y): the
Context (X): ['lincoln', 'the', 'president', 'of'] -> Target (Y): sixteenth
Context (X): ['the', 'sixteenth', 'of', 'the'] -> Target (Y): president
Context (X): ['sixteenth', 'president', 'the', 'united'] -> Target (Y): of
Context (X): ['president', 'of', 'united', 'states'] -> Target (Y): the
Context (X): ['did', 'lincoln', 'the', 'national'] -> Target (Y): sign
Context (X): ['lincoln', 'sign', 'national', 'banking'] -> Target (Y): the
Context (X): ['sign', 'the', 'banking', 'act'] -> Target (Y): national
Context (X): ['the', 'national', 'act', 'of'] -> Target (Y): banking
Context (X): ['national', 'banking', 'of', '1863'] -> Target (Y): act

In [ ]:
import keras.backend as K
from keras.models import Sequential
from keras.layers import Dense, Embedding, Lambda

# build CBOW architecture
cbow = Sequential()
cbow.add(Embedding(input_dim=vocab_size, output_dim=embed_size, input_length=window_size*2))
cbow.add(Lambda(lambda x: K.mean(x, axis=1), output_shape=(embed_size,)))
cbow.add(Dense(vocab_size, activation='softmax'))
cbow.compile(loss='categorical_crossentropy', optimizer='rmsprop')

# view model summary
print(cbow.summary())

# visualize model structure
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot

SVG(model_to_dot(cbow, show_shapes=True, show_layer_names=False, 
                 rankdir='TB').create(prog='dot', format='svg'))

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 4, 100)            460300

 lambda (Lambda)             (None, 100)               0

 dense (Dense)               (None, 4603)              464903

=================================================================
Total params: 925,203
Trainable params: 925,203
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
for epoch in range(1, 6):
    loss = 0.
    i = 0
    for x, y in generate_context_word_pairs(corpus=wids, window_size=window_size, vocab_size=vocab_size):
        i += 1
        loss += cbow.train_on_batch(x, y)
        if i % 100000 == 0:
            print('Processed {} (context, word) pairs'.format(i))

    print('Epoch:', epoch, '\tLoss:', loss)
    print()

Epoch: 1 	Loss: 166306.81165263057

Epoch: 2 	Loss: 206073.5520290509

Epoch: 3 	Loss: 208887.3108097911

Epoch: 4 	Loss: 214387.803562155

Epoch: 5 	Loss: 222564.57755349018

In [ ]:
weights = cbow.get_weights()[0]
weights = weights[1:]
print(weights.shape)

pd.DataFrame(weights, index=list(id2word.values())[1:]).head()

(4602, 100)

            0         1         2   ...        97        98        99
of    0.051188  0.281065 -0.433838  ...  0.490907 -0.802997 -0.137600
is    0.006508  0.764449  0.031156  ...  0.473335 -0.678311 -0.677203
what  0.186872  0.781459 -0.915151  ...  0.573460 -0.519933  0.070590
in    0.549362  0.243955 -0.521894  ...  0.412547 -0.249851  0.049340
a     0.163890  0.936497 -0.260315  ...  0.482729 -0.645059 -0.686036

[5 rows x 100 columns]

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances

# compute pairwise distance matrix
distance_matrix = euclidean_distances(weights)
print(distance_matrix.shape)

# view contextually similar words
similar_words = {search_term: [id2word[idx] for idx in distance_matrix[word2id[search_term]-1].argsort()[1:6]+1] 
                   for search_term in ['national', 'banking', 'sixteenth', 'die', 'sign', 'united', 'president','president']}

similar_words

(4602, 4602)

{'banking': ['individuals', 'safari', '35', 'fragmented', 'determining'],
 'die': ['paper', 'political', 'across', 'make', 'vp'],
 'national': ['very', 'modern', 'main', 'study', 'system'],
 'president': ['john', "''", 'animals', 'elected', 'under'],
 'sign': ['construction',
  'predecessors',
  'experiment',
  'principles',
  'stopped'],
 'sixteenth': ['coastline',
  'illustrations',
  'thirtieth',
  'negative',
  'precursor'],
 'united': ['department', '1860', 'como', 'laws', 'election']}